*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
	font-family: 'Times New Roman', Times, serif;
	background: white;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}
.inputBox, .textBox,.shareBox,.resetBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.hiddenText{
    color: white;
}
.textBox span::selection{
    background-color: #ff507f;
    color: white;
}
.textBox .text .hiddenText{
	text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
    text-decoration-color: black;
}

.myBtn i{
    margin: 0 5px;
}
.myBtn{
    position: fixed;
    bottom: 50px;
    right: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background:#fc94af;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.myBtn:active{
    transform: scale(1.1);
}
#message{
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: solid 2px #fc94af;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.tutorialBox{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    /* padding: 10px; */
}